<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
    <link rel='stylesheet' href='/stylesheets/output.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>


  <body class='bg-white p-4 font-sans'>
   <header class="flex flex-col items-center sm:flex-row sm:justify-between sm:items-center">
    <a href="/" class="hover:scale-110 transition-transform duration-200 ease-in-out">
  <img src="/images/logo.jpg" alt="logo" class="logo max-w-xs mb-2 mt-2 sm:max-w-md sm:mr-12">
    </a>

  <div class="header-icons flex flex-row items-center justify-between w-full mt-4 space-x-2 sm:mt-0">
    <input type="text" class="search-bar w-4/5 max-w-[80%] rounded-lg p-1 border border-gray-300 sm:max-w-[60%]">
    <div class="icons flex justify-center items-center space-x-2">
      <a href="#" class="icon">❤️</a>
      <a href="#" class="icon">🛒</a>
    </div>
  </div>
  
</header>

    <nav class="text-left my-4">
      <ul class="space-y-2 sm:flex sm:space-x-4 sm:space-y-0">
        <li><a href="#" class="text-gray-600 hover:underline">Nyheter</a></li>
        <li><a href="#" class="text-gray-600 hover:underline">Topplistan</a></li>
        <li><a href="#" class="text-gray-600 hover:underline">Rea</a></li>
        <li><a href="#" class="text-gray-600 hover:underline">Kampanjer</a></li>
      </ul>
    </nav>


    <section class="flex flex-col items-center text-center lg:flex-row lg:justify-between lg:items-center lg:text-left">
      <img src="/images/hero.jpg" alt="Hero image" class="w-full lg:w-3/5 lg:max-w-none">
      <div class="w-full p-4 lg:w-2/5 lg:mr-5">
        <h1 class="text-2xl font-bold">Välkommen till Freaky Fashion!</h1>
        <p class="mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum illum autem voluptatem. Consequatur, eligendi modi. Reiciendis laborum dolores tempora sit architecto voluptate laboriosam, illo suscipit qui. Delectus a dolore reiciendis.</p>
      </div>
    </section>

    <!--Spots vid 1024px-->
    <div class="hidden lg:flex justify-between mt-5">
      <div class="relative flex-1 mr-2">
        <a href="#">
        <img src="/images/shopthelook.jpg" alt="Spot image" class="w-full h-auto">
        <h3 class="absolute top-2 left-2 text-white text-lg font-semibold bg-black bg-opacity-50 px-2 py-1 rounded">Shop The look</h3>
      </a>
      </div>
      <div class="relative flex-1 mr-2">
        <a href="#">
        <img src="/images/shopthelook1.jpg" alt="Spot image" class="w-full h-auto">
        <h3 class="absolute top-2 left-2 text-white text-lg font-semibold bg-black bg-opacity-50 px-2 py-1 rounded">Shop The look</h3>
      </a>
      </div>
      <div class="relative flex-1 mr-2">
        <a href="#">
        <img src="/images/shopthelook2.jpg" alt="Spot image" class="w-full h-auto">
        <h3 class="absolute top-2 left-2 text-white text-lg font-semibold bg-black bg-opacity-50 px-2 py-1 rounded">Shop The look</h3>
      </a>
      </div>
    </div>

   
    <section class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:grid-cols-4 mt-5">
      <% products.forEach((product, index)=> { %>
      <article class="relative border border-gray-300 p-4">
        <% if (product.isNew) { %>
        <div class="absolute top-5 left-5 bg-red-500 text-white px-2 py-1 text-xs font-bold rounded">Nyhet</div>
        <% } %>
        <div class="absolute bottom-20 right-4 text-red-500 text-lg">
          </div>
          <div class="absolute bottom-2 right-4 text-gray-400 hover:text-red-500 transition duration-200">
            <% if (product.isLiked) { %>
            <i class="fas fa-heart text-red-500 hover:text-gray-500 absolute bottom-24 right-5"></i>
            <% } else { %>
              <i class="fas fa-heart text-gray-500 hover:text-red-500 absolute bottom-24 right-5 transition duration-200"></i>
            <% } %>
        </div>
        <a href="/products/<%= product.slug %>">
          <img src="<%= product.image %>" alt="<%= product.name%>" class="w-full h-auto mb-4 object-cover">
          <section class="flex justify-between items-center">
            <div class="text-left">
              <h3 class="text-lg font-semibold"><%= product.name %></h3>
              <p class="text-gray-500"><%= product.brand %></p>
            </div>
            <aside class="text-right text-gray-900">
              <p><%= product.price %></p>
            </aside>
          </section>
        </a>
      </article>
      <% }) %>
    </section>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-4 text-center">
      <p class="text-lg">🌎 Gratis frakt och returer</p>
      <p class="text-lg">✈️ Expressfrakt</p>
      <p class="text-lg">🛡️ Säkra betalningar</p>
      <p class="text-lg">😊 Nyheter varje dag</p>  
    </div>

    
    <footer class="bg-gray-100 dark:bg-gray-900 mt-10">
      <div class=" hidden md:block w-full max-w-screen-xl px-4 py-6 lg:py-8 mx-auto">
        <div class="flex flex-col sm:flex-row sm:justify-between gap-8 text-center sm:text-left">
          
          <div>
            <h2 class="mb-4 text-sm font-semibold text-gray-900 dark:text-white">Shopping</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium space-y-2">
              <li><a href="#" class="hover:underline">Vinterjackor</a></li>
              <li><a href="#" class="hover:underline">Skor</a></li>
              <li><a href="#" class="hover:underline">Stickat</a></li>
              <li><a href="#" class="hover:underline">Byxor</a></li>
            </ul>
          </div>

       
          <div>
            <h2 class="mb-4 text-sm font-semibold text-gray-900 dark:text-white">Mina sidor</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium space-y-2">
              <li><a href="#" class="hover:underline">Mina ordrar</a></li>
              <li><a href="#" class="hover:underline">Mitt konto</a></li>
            </ul>
          </div>

         
          <div>
            <h2 class="mb-4 text-sm font-semibold text-gray-900 dark:text-white">Kundtjänst</h2>
            <ul class="text-gray-500 dark:text-gray-400 font-medium space-y-2">
              <li><a href="#" class="hover:underline">Returpolicy</a></li>
              <li><a href="#" class="hover:underline">Integritetspolicy</a></li>
            </ul>
          </div>
        </div>

        <div class="mt-6 border-t border-gray-200 pt-6 text-center">
          <span class="text-sm text-gray-500 dark:text-gray-300">© 2024 FreakyFashion & Co. All Rights Reserved.</span>
        </div>
      </div>

<!--Accordiong, only for 640px-->

<div id="accordion-collapse" data-accordion="collapse" class="md:hidden">
  <h2 id="accordion-collapse-heading-1">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-1" aria-expanded="true" aria-controls="accordion-collapse-body-1">
      <span>Shopping</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-1" class="hidden" aria-labelledby="accordion-collapse-heading-1">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900">
      <p class="mb-2 text-gray-500 dark:text-gray-400">Vinterjackor</p>
      <p class="mb-2 text-gray-500 dark:text-gray-400">Skor</p>
      <p class="text-gray-500 dark:text-gray-400">Stickat</p>
      <p class="text-gray-500 dark:text-gray-400">Byxor</p>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-2">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-2" aria-expanded="false" aria-controls="accordion-collapse-body-2">
      <span>Mina Sidor</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-2" class="hidden" aria-labelledby="accordion-collapse-heading-2">
    <div class="p-5 border border-b-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">Mina ordrar</p>
      <p class="mb-2 text-gray-500 dark:text-gray-400">Mitt konto</p>
    </div>
  </div>
  <h2 id="accordion-collapse-heading-3">
    <button type="button" class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 gap-3" data-accordion-target="#accordion-collapse-body-3" aria-expanded="false" aria-controls="accordion-collapse-body-3">
      <span>Kundtjänst</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
      </svg>
    </button>
  </h2>
  <div id="accordion-collapse-body-3" class="hidden" aria-labelledby="accordion-collapse-heading-3">
    <div class="p-5 border border-t-0 border-gray-200 dark:border-gray-700">
      <p class="mb-2 text-gray-500 dark:text-gray-400">Returpolicy</p>
      <p class="mb-2 text-gray-500 dark:text-gray-400">Integritetspolicy</p>
    </div>
  </div>
</div>

</footer>
  </body>
</html>
